<div class="booyah-box">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'USER.JPG' %>
    </div>

    <div class="col-8">
      <h1><%= @user.email %></h1>
      <h3>Member Since: <%= @user.created_at.strftime("%B %d, %Y") %></h3>
      <h4><%= @user.comments.count %> total comments</h4>
      <h4><%= @user.comments.where(rating: '5_stars').count %> total 5 star reviews</h4>
    </div>
  </div>
  <div class="clear"></div>
</div>


<div class="row">
<% @place.comments.each do |comment| %>
<div class="col-12 col-sm-6">
  <blockquote>
      <% if comment.humanize_ratings.present? %>
        <b>
          <% comment.humanize_ratings.times do |i| %>
            <i class="fa fa-star"></i>
          <% end %>
        </b>
        <b>
          <% (5 - comment.humanize_ratings).times do |i| %>
            <i class="fa fa-star-o"></i>
          <% end %>
        </b>
      <% end %>
      <br />
      <%= comment.message %>
      <small class="float-right"><%= comment.user.email %></small>
      <br />
      <br />
  </blockquote>
</div>
<% end %>